<a href="https://colab.research.google.com/github/jberkow713/DS-Unit-2-Linear-Models/blob/master/Jberkow_Logistic_Regression_assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [3]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')
df.head()

               Location      Burrito       Date  ... Avocado Corn Zucchini
0    Donato's taco shop  California   1/18/2016  ...     NaN  NaN      NaN
1  Oscar's Mexican food  California   1/24/2016  ...     NaN  NaN      NaN
2  Oscar's Mexican food     Carnitas  1/24/2016  ...     NaN  NaN      NaN
3  Oscar's Mexican food  Carne asada  1/24/2016  ...     NaN  NaN      NaN
4          Pollos Maria   California  1/27/2016  ...     NaN  NaN      NaN

[5 rows x 66 columns]

In [4]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4
df.head()

               Location      Burrito       Date  ... Corn Zucchini  Great
0    Donato's taco shop  California   1/18/2016  ...  NaN      NaN  False
1  Oscar's Mexican food  California   1/24/2016  ...  NaN      NaN  False
2  Oscar's Mexican food     Carnitas  1/24/2016  ...  NaN      NaN  False
3  Oscar's Mexican food  Carne asada  1/24/2016  ...  NaN      NaN  False
4          Pollos Maria   California  1/27/2016  ...  NaN      NaN   True

[5 rows x 67 columns]

In [5]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'
df.head()

               Location     Burrito       Date  ... Corn Zucchini  Great
0    Donato's taco shop  California  1/18/2016  ...  NaN      NaN  False
1  Oscar's Mexican food  California  1/24/2016  ...  NaN      NaN  False
2  Oscar's Mexican food    Carnitas  1/24/2016  ...  NaN      NaN  False
3  Oscar's Mexican food       Asada  1/24/2016  ...  NaN      NaN  False
4          Pollos Maria  California  1/27/2016  ...  NaN      NaN   True

[5 rows x 67 columns]

In [7]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

KeyError: ignored

In [10]:
df.head(10)

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True
5       Other  1/28/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
6  California  1/30/2016   3.0     2.9   NaN  ...    NaN      NaN   NaN       NaN  False
7    Carnitas  1/30/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
8  California   2/1/2016   3.0     3.7     x  ...    NaN      NaN   NaN       NaN  False
9       Asada   2/6/2016   4.0     4.1   NaN  ...    NaN      NaN   NaN       NaN  False

[10 rows x 61 columns]

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [13]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [0]:
#Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [0]:
from sklearn.model_selection import train_test_split

In [20]:

df['Date']= pd.to_datetime(df['Date'])
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [28]:
cutoff = pd.to_datetime('2016-01-01')
cutoff2 = pd.to_datetime('2016-12-31')
cutoff3 = pd.to_datetime('2017-01-01')
cutoff4 = pd.to_datetime('2018-01-01')
cutoff5 = pd.to_datetime('2017-12-31')

train = df[df.Date > cutoff]  
train = df[df.Date < cutoff3] 
val = df[df.Date > cutoff2] 
val = df[df.Date < cutoff4]
test = df[df.Date > cutoff5]
print(train.shape)
print(val.shape)
test.shape

(298, 59)
(383, 59)

(38, 59)

In [0]:
#Begin with baselines for classification.

In [29]:
from sklearn.metrics import accuracy_score

target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)
#y_pred

In [31]:
accuracy_score(y_train, y_pred)

0.5906040268456376

In [0]:
#Use scikit-learn for logistic regression.

In [32]:
train.describe

<bound method NDFrame.describe of         Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California 2016-01-18   3.5     4.2  ...     NaN   NaN       NaN  False
1    California 2016-01-24   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas 2016-01-24   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada 2016-01-24   NaN     NaN  ...     NaN   NaN       NaN  False
4    California 2016-01-27   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
296  California 2016-12-02   4.0     4.3  ...     NaN   NaN       NaN  False
297       Other 2016-12-02   NaN     NaN  ...     NaN   NaN       NaN  False
298  California 2016-12-10   3.5     3.7  ...     NaN   NaN       NaN  False
299       Asada 2016-12-10   NaN     NaN  ...     NaN   NaN       NaN  False
300       Other 2016-12-15   4.5     4.6  ...     NaN   NaN       NaN  False

[298 rows x 59 columns]>

In [34]:
train.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [59]:
#DoING LINEAR REGRESSION TO SET UP VARIABLES, and to practice

from sklearn.linear_model import LinearRegression

linear_reg = LinearRegression()
features = ['Uniformity', 'Cost', 'Hunger', 'Synergy', 'Meat']
X_train = train[features]
X_val = val[features]
y_val = val[target]
y_test = test[target]
#Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# Fit the Model
linear_reg.fit(X_train_imputed, y_train)

#Apply model to new data...predicting linear_reg.predict
linear_reg.predict(X_val_imputed)

array([ 0.43531949, -0.0085972 ,  0.02193388,  0.48407506,  0.78656071,
        0.70675833, -0.12493184,  0.11301328,  0.72565797, -0.29516626,
        0.14418795,  0.10821342,  0.49111207,  0.3453714 ,  0.04614425,
        0.8069607 ,  0.74319201,  0.44250782,  0.42906457,  0.21713907,
        0.31007825,  0.49602753,  0.21377659,  0.60589248,  0.77036644,
        0.31739403,  0.25166437,  0.50308703,  0.7472068 ,  0.27469578,
        0.60437698,  0.09604444, -0.12794256, -0.82823054,  0.23540319,
        0.05403203,  0.51756942,  0.4905806 ,  0.47577391,  0.58408876,
        0.49569702,  0.18348153,  0.55746497,  0.35029772,  0.65817579,
        0.06829431,  0.24605493,  0.27890713, -0.08650906,  0.09069968,
        0.58471755,  0.79346368, -0.38718829,  0.42117361,  0.50091399,
        0.31486454,  0.42755032,  0.18517248,  0.84536431,  0.85347739,
        0.43700407,  0.25312313,  0.45031797,  0.05432033,  0.71384442,
        0.5127762 ,  0.35751543,  0.56575875,  0.96413921,  1.02807042,
        0.82194   ,  0.44328621,  0.50590261,  0.64687595,  0.28320913,
       -0.23484121, -0.29192448,  0.11639647,  0.30562218,  0.27807656,
        0.25943819,  0.7014367 ,  0.9353432 ,  0.65298265,  0.71952956,
        0.69998259,  0.55226941,  1.11866247, -0.08911214,  0.11048409,
        0.32263096,  0.49513015, -0.01267964,  0.73557748,  0.31962028,
        0.65335241,  0.87379581,  0.81547412,  0.96675492,  0.4988971 ,
        0.35869862,  0.13389789,  0.45951169, -0.23489624,  0.87877706,
        0.81050188,  0.84738362,  0.64776951,  0.0908933 , -0.37215406,
        0.76846088,  1.01134848,  0.63714198,  0.64337505,  0.42538154,
       -0.36107166,  0.18491858,  0.28776687,  0.21667554,  0.29738072,
        0.66559489, -0.00224522,  0.74086765,  0.7094742 ,  0.34769817,
       -0.175074  ,  0.07974336, -0.30462991,  0.73416261,  1.11273859,
        0.97740516,  0.36251856,  1.01942799,  0.78652331,  1.00958225,
        1.1389563 ,  0.06003583, -0.08725   , -0.32082944, -0.41471331,
        0.56649445, -0.16213482,  0.5987104 ,  0.79013581,  0.67015075,
        0.61453491,  0.4218049 ,  0.27549982,  0.58834303,  0.68387087,
        0.62931778,  0.32366355,  0.69679643,  0.43464684, -0.12277971,
        0.67052052,  0.22316988,  0.73243767,  0.52676835,  0.67179888,
        0.27341842,  0.60141503,  0.79728243,  0.85989358,  0.52438553,
        0.69747538,  1.01882634,  0.41698152,  0.60713198,  0.5324853 ,
        0.24960861,  0.73833248,  0.03250329,  0.08939749, -0.29259438,
       -0.21002368,  0.43216211,  0.65275188,  0.31226388,  0.73683696,
        0.06183814, -0.33304638,  0.56213644,  0.5160652 ,  0.35917588,
        0.54744633,  0.00580328,  0.60141503,  0.24519558,  0.38006192,
        0.30114968,  0.24943075,  0.23426347,  0.08134088,  0.12581389,
        0.47407525,  0.43148144,  0.73243767,  0.19807775,  0.52275356,
        0.45955409,  0.59833822,  0.2812501 ,  0.7625775 ,  0.81698195,
        0.30490483, -0.03428414,  0.7298791 , -0.06305821,  0.22169849,
        0.71801931,  0.88103916,  0.51685682,  0.14944795,  0.14808406,
       -0.37441607,  0.46893221,  0.33480613,  0.70990623,  0.39078605,
        0.0152641 ,  0.13629929,  0.58314147,  0.4104683 ,  0.24361153,
        0.75167312, -0.25454023,  0.23443327,  0.96582521,  0.87194895,
        0.65244623,  0.70141641,  0.30116856,  0.69636225,  0.19872904,
        0.04345746,  0.27711605,  0.40686486, -0.0242383 ,  0.77123375,
        0.60898079,  0.68662061,  0.09360035,  0.66814295,  0.53642632,
        0.10939247,  0.37857024,  0.16181852,  0.02895337,  0.13575196,
        0.40442985,  0.38011724,  0.74072757,  0.21282033,  0.91844553,
       -0.05438517,  0.50714918, -0.01229242,  0.45336087,  0.50886455,
        0.23093207,  0.74621094,  0.64674429,  0.41896732, -0.26307512,
        0.59040591,  0.68259878,  0.18569378,  0.55802492,  0.75348894,
        0.3007357 ,  0.63827599,  0.44570329,  0.18607686,  0.50041919,
        0.62116164,  0.37612442, -0.00520875,  0.5401314 ,  0.28187132,
        0.57904611,  0.8477975 ,  1.04844386,  0.28784203,  0.78262808,
        0.71321477,  0.74999825,  0.40888175,  0.88322896,  0.51884433,
        0.65727203,  0.43531949,  0.26960218, -0.20704911, -0.12313805,
        0.26429774, -0.12368184,  0.59428083,  0.53850855,  0.50871865,
        0.74832026,  0.64761794, -0.11781641,  0.29340843,  0.8008537 ,
        0.52592927, -0.21405858,  0.7063264 ,  0.69936551, -0.23959708,
        0.33643719,  0.3721176 ,  0.93497202,  0.43743642,  0.4055871 ,
        0.6658246 ,  0.71139618,  1.01705042,  0.49556923,  0.58313906,
        0.11727746,  0.70470541,  0.62672837,  0.71669925,  0.83679668,
        0.45876337,  0.61637606,  0.82626651,  0.67800546,  0.57556067,
        0.57720223,  0.45633785,  0.41268627,  0.4592155 ,  0.3784112 ,
        0.50527402,  0.35847703,  0.40649562,  0.36676892,  0.53109448,
        0.37590492,  0.48813751,  0.60618503,  0.58260505,  0.10808668,
        0.06647248,  0.58759621, -0.24414032,  0.35213392,  0.41036606,
        0.95290241,  0.78327696,  0.54026145,  0.1726581 ,  0.49650696,
        0.1745593 ,  0.24790474,  0.38341722, -0.19668806,  0.47531394,
       -0.1575008 ,  0.41866751,  0.34222342,  0.85833647,  0.46114619,
        0.86878931,  0.7389533 ,  0.30225514,  1.30043847,  0.75806287,
        0.48281829,  0.64568318,  0.00864299,  0.50075117,  0.27804718,
        0.59312125,  0.86478249,  0.81581231,  0.55808589,  0.56226806,
        0.81123757,  0.73707545,  1.07946755])

In [37]:
# Get Coefficients
pd.Series(linear_reg.coef_, features)

Uniformity    0.051353
Cost          0.036976
Hunger        0.031393
Synergy       0.231008
Meat          0.149293
dtype: float64

In [45]:
test_case = [[4, 5.50, 3, 4, 4]]
test_case2 = [[5, 3.50, 5, 5, 4]]
print(linear_reg.predict(test_case))
linear_reg.predict(test_case2)

[0.54800627]

array([0.81920103])

In [41]:
#Now doing Logistic Regression

from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

Validation Accuracy 0.8590078328981723

In [0]:
#Get your model's validation accuracy. (Multiple times if you try multiple iterations.)

In [0]:
#Validation Accuracy = 85.9% accurate on non encoded and non scaled DF

In [42]:
log_reg.predict(X_val_imputed)

array([False, False, False, False,  True,  True, False, False,  True,
       False, False, False, False, False, False,  True,  True, False,
       False, False, False, False, False,  True,  True, False, False,
       False,  True, False,  True, False, False, False, False, False,
       False, False, False,  True, False, False,  True, False,  True,
       False, False, False, False, False,  True,  True, False, False,
       False, False, False, False,  True,  True, False, False, False,
       False,  True, False, False,  True,  True,  True,  True, False,
       False,  True, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False, False,  True, False,  True,  True,  True,  True,
       False, False, False, False, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True, False, False, False,
       False, False, False,  True, False,  True,  True, False, False,
       False, False,  True,  True,  True, False,  True,  True,  True,
        True, False, False, False, False,  True, False,  True,  True,
        True,  True, False, False,  True,  True,  True, False,  True,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True, False, False, False, False, False,  True, False,  True,
       False, False,  True, False, False,  True, False,  True, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False,  True, False,  True,  True, False, False,
        True, False, False,  True,  True, False, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
        True, False, False,  True,  True,  True,  True, False,  True,
       False, False, False, False, False,  True,  True,  True, False,
        True,  True, False, False, False, False, False, False, False,
        True, False,  True, False, False, False, False, False, False,
        True,  True, False, False,  True,  True, False,  True,  True,
       False,  True, False, False, False,  True, False, False,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True, False, False, False, False, False, False,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True, False, False, False,  True, False, False,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True, False, False,  True, False, False, False,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True,  True, False,  True,
        True, False,  True, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True])

In [47]:
#probability if burritos are great, on non scaled and non encoded DF based on validation data
print(log_reg.predict(test_case))
log_reg.predict_proba(test_case)

[ True]

array([[0.41644765, 0.58355235]])

In [48]:
print(log_reg.predict(test_case2))
log_reg.predict_proba(test_case2)

[ True]

array([[0.04681042, 0.95318958]])

In [0]:
#Now encoding and doing all this fancy stuff
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler

In [51]:
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)

X_train_encoded.head()

   Uniformity  Cost  Hunger  Synergy  Meat
0         4.0  6.49     3.0      4.0   3.0
1         4.0  5.45     3.5      2.5   2.5
2         4.0  4.85     1.5      3.0   2.5
3         5.0  5.25     2.0      4.0   3.5
4         5.0  6.59     4.0      4.5   4.0

In [0]:
X_train_imputed = imputer.fit_transform(X_train_encoded)
X_val_imputed = imputer.transform(X_val_encoded)

In [0]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_val_scaled = scaler.transform(X_val_imputed)

In [54]:
model = LogisticRegressionCV()
model.fit(X_train_scaled, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [55]:
#accuracy of the validation sample after encoding and scaling...basically the same
y_pred = model.predict(X_val_scaled)
accuracy_score(y_val, y_pred)

0.856396866840731

In [0]:
#Get your model's test accuracy. (One time, at the end.)

In [60]:
#Accuracy of the test sample after encoded and scaled like before with validation data
X_test = test[features]
X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
X_test_scaled = scaler.transform(X_test_imputed)
y_pred = model.predict(X_test_scaled)
accuracy_score(y_test, y_pred)

0.8157894736842105

In [0]:
submission = test[['Burrito']].copy()
submission['Great'] = y_pred

In [58]:
#List of Test burritos and their corresponding Great/or non great values
submission

         Burrito  Great
77    California   True
386   California   True
387        Other  False
388   California   True
389        Other  False
390        Asada  False
391     Carnitas   True
392     Carnitas   True
393     Carnitas  False
394   California   True
395   California  False
396        Other  False
397        Other   True
398     Carnitas   True
399     Carnitas   True
400   California   True
401  Surf & Turf   True
402   California  False
403   California  False
404   California  False
405     Carnitas  False
406     Carnitas   True
407        Other  False
408        Other   True
409        Other   True
410        Other  False
411        Other  False
412   California   True
413   California   True
414        Other   True
415        Asada  False
416        Other   True
417   California   True
418        Other  False
419        Other   True
420   California   True
421        Other   True
422        Other   True